<html>
    <head>
        <title>Render KoolReport inside Twig Template</title>
    </head>
    <body>
        <h1>Render KoolReport inside Twig Template</h1>
        {{myreport|raw}}
    </body>
</html>